{% extends 'home/base_generic.html' %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>

{% block content %}
    <div class="lawyer-list-container">
        <h2>Lawyers List</h2>
        <div class="lawyer-card-container">
            {% for lawyer in lawyers %}
                <div class="lawyer-card">
                    <img src="https://via.placeholder.com/150" alt="Lawyer Image" class="lawyer-img">
                    <div class="lawyer-info">
                        <h3>{{ lawyer.first_name }}</h3>
                        <p>Specialty: {{ lawyer.specialty }}</p>
                        <p>Location: {{ lawyer.location }}</p>
                        <img src="{{ lawyer.photo.url }}" alt="Photo of {{ lawyer.first_name }}">
                    </div>
                </div>
            {% empty %}
                <p>No lawyers available at the moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
